#tinymce div {
    border: 1px dotted;    
}

#tinymce div.row div{
	padding: 5px;
}

#tinymce div.row {
	width: 120%;
}
#tinymce div#content-bottom div{
	width: 45%;
}

#tinymce div.left {
	float: left;
}

#tinymce div.right {
	float: right;
}

#tinymce div.content-image-wrapper img {
	width: 300px;
}

.content-image-wrapper {
	width: 60%;
}

.content-description-wrapper {
	width: 30%;
}

